{% extends 'layout.html.twig' %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
        <div class="h1 text-center">Welcome to mhrise !</div>
        <img src="{{ asset('build/images/skull.png') }}" class="w-15 mt-3" alt="Skull avatar">
    </div>
{% endblock %}